<a href="https://colab.research.google.com/github/sanwar0909/https-colab.research.google.com-drive-1irOqWoUKkXKd9BWP-45sncL-OfHNf9wt/blob/main/3_Python2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Python 2**

## **Loops**

In [ ]:
## For Loop

for x in range(10): #Starting, Ending, Inc/Dec
  print("Skill Morph")

Skill Morph
Skill Morph
Skill Morph
Skill Morph
Skill Morph
Skill Morph
Skill Morph
Skill Morph
Skill Morph
Skill Morph

In [ ]:
## Example in reverse order

In [ ]:
for i in range(10, 20, 2):
  print(i)

10
12
14
16
18

In [ ]:
## while loop

n = 10

while n!=0:
  print(n)
  n = n - 1

10
9
8
7
6
5
4
3
2
1

In [ ]:
# H1: Write a program that prompts the user to input a number N and prints all even numbers between 1 and N using a for loop.

In [ ]:
# H2: Write a program that prompts the user to input a number N and calculates the sum of all numbers from 1 to N that are divisible by 3 or 5.

In [ ]:
# H3: Write a program that prompts the user to input a number n and prints the multiplication table of n (1 to 10) using a for loop.

## **Lists**

In [ ]:
## List Examples

li = [10, 20, 40, 50]

print(li)

[10, 20, 40, 50]

In [ ]:
# a list containing strings and numbers
student = ['Skill', 2025, 'Morph']
print(student)

# an empty list
empty_list = []
print(empty_list)

['Skill', 2025, 'Morph']
[]

In [ ]:
## Using list() to Create Lists

x = "SKILL MORPH"

# convert to list
result = list(x)
print(result)

['S', 'K', 'I', 'L', 'L', ' ', 'M', 'O', 'R', 'P', 'H']

In [ ]:
li = [90, 10, 100]

print(li[-1])

100

In [ ]:
## One example of list with condition

li = [3, 50, 20, 70, 30]

print(li)

for i in range(0, 5):
 ## print(i, "=>", li[i])
  if li[i] > 10:
    print(li[i])

[3, 50, 20, 70, 30]
50
20
70
30

In [ ]:
## One example of list with loop

In [ ]:
## Slicing of a List in Python

li = [2, 3, 5, 6, 10, 30, 3, 1, 10]

print(li[2: 5])

print(li[3: ])
print(li)
print(li[:])

[5, 6, 10]
[6, 10, 30, 3, 1, 10]
[2, 3, 5, 6, 10, 30, 3, 1, 10]
[2, 3, 5, 6, 10, 30, 3, 1, 10]

## **Tuples**

In [ ]:
t = (3, 10, 5, 6)

print(t)

print(len(t)) # Length of a tuple

t1 = (3, "SKill", "2025")
print(t1[1])

print(t1)

(3, 10, 5, 6)
4
SKill
(3, 'SKill', '2025')

In [ ]:
## Tuple Function

my_tuple = (1, 2, 3, 1, 1, 4)
print(my_tuple.count(1))  # Output: 3

print(my_tuple.index(3))

another_tuple  = (4, 5, 6, 7, 8)

new_tuple = my_tuple + another_tuple # Concatenate tuples
print(new_tuple)

3
2
(1, 2, 3, 1, 1, 4, 4, 5, 6, 7, 8)

## **String**

In [ ]:
# Assigning values to variables
str1 = "Skill Morph!"
str2 = "I love Python."
str3 = "Skill Morph!"

# Compare str1 and str2
print(str1 == str2)  # This will print: False

# Compare str1 and str3
print(str1 == str3)  # This will print: True

False
True

In [ ]:
## Iteration

sm = "SKill Morph"

for char in sm:
  print(char)

for i in range(0, len(sm)):
  print(sm[i])

S
K
i
l
l

M
o
r
p
h
S
K
i
l
l

M
o
r
p
h

In [ ]:
## String Functions

# Initial string
s = "Skill Morph"

# 1. upper()
print(s.upper())  # Converts all characters to uppercase
# 2. lower()
print(s.lower())  # Converts all characters to lowercase
# 3. partition()
print(s.partition(' '))  # Splits the string at the first occurrence of ' '
# 4. replace()
print(s.replace('Morph', 'Master'))  # Replaces 'Morph' with 'Master'
# 5. find()
print(s.find('Morph'))  # Returns the index of 'Morph' in the string, or -1 if not found
# 6. rstrip()
print(s.rstrip())  # Removes trailing spaces from the string
# 7. split()
print(s.split())  # Splits the string into a list at spaces
# 8. startswith()
print(s.startswith('Skill'))  # Checks if the string starts with 'Skill'
# 9. isnumeric()
print(s.isnumeric())  # Checks if all characters in the string are numeric (returns False)
# 10. index()
print(s.index('Morph'))  # Returns the index of the first occurrence of 'Morph'

SKILL MORPH
skill morph
('Skill', ' ', 'Morph')
Skill Master
6
Skill Morph
['Skill', 'Morph']
True
False
6

In [ ]:
s = "Skill Morph"

print(len(s)) # Lentgth Function

11

In [ ]:
S = "\"How's"

print(S)

"How's

## **Sets**

In [ ]:
s = {1, 3, 5, 6, 7, 3, 10}

print(s)

{1, 3, 5, 6, 7, 10}

In [ ]:
# Create a set of even numbers
even_numbers = {2, 4, 6, 8}

# Print the set
print('Set:', even_numbers)

# Find the number of elements in the set
print('Total Elements:', len(even_numbers))

Set: {8, 2, 4, 6}
Total Elements: 4

## **Modules**

In [ ]:
import math

print(math.sqrt(16))  # Output: 4.0

print(math.pi)  # Output: 3.141592653589793

4.0
3.141592653589793

# **Thank You!**