<a href="https://colab.research.google.com/github/sanwar0909/https-colab.research.google.com-drive-1irOqWoUKkXKd9BWP-45sncL-OfHNf9wt/blob/main/Assignment_from_Class_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
## H1: Write a program to perform the subtraction, multipllication and division
a= 7664.5498
b= 4353.2164
c= 4
sub= a-b
mul= a*c
div= b/c
print ('Subtraction= {:.3f}'.format (sub))
print ('multipllication= {:.2f}'.format(mul))
print ('Devision= {:.1f}'.format(div))

Subtraction= 3311.333
multipllication= 30658.20
Devision= 1088.3

In [3]:
## H2: Write a program  declare variables for id, name, batch, and hometown, and assign values, and finally print.
id, name, batch, hometown= 'SM-ML-2025-B1-060', 'Md. Sanwar Hossain Sony ', 'First', 'Rajshahi'
print ('ID: ',id, "\n",'Name: ',name, "\n",'Batch: ', batch,"\n", 'Hometown:', hometown)
print ('ID:',id, "\t",'Name:',name, "\t",'Batch:', batch,"\t", 'Hometown:', hometown)

ID:  SM-ML-2025-B1-060
 Name:  Md. Sanwar Hossain Sony
 Batch:  First
 Hometown: Rajshahi
ID: SM-ML-2025-B1-060 	 Name: Md. Sanwar Hossain Sony  	 Batch: First 	 Hometown: Rajshahi

In [4]:
## H3: Write a program to change values of an integer variable

department= "EECE"
faculty= "Engineering"
print('Before= ', faculty )
print('After= ', department)

Before=  Engineering
After=  EECE

In [16]:
## H4: Write a program to take two string numbers and convert them to integers using explicit type conversion.
a = 6575.4668
b = 4346.6789

sum = a + int(b)

print(b)

print(sum)

print(type(a), type(b), type(sum))

4346.6789
10921.4668
<class 'float'> <class 'float'> <class 'float'>

In [25]:
## H5: Write a program to calculate and print the average of the three numbers. Round the result to two decimal places.
num1 = float(input("Enter the first number is= "))
num2 = float(input("Enter the second number is= "))
num3 = float(input("Enter the third number is= "))
average= (num1 + num2+ num3)/3
print('The Average number is= {:.2f}'.format(average))

Enter the first number is= 435.675
Enter the second number is= 435.2435
Enter the third number is= 2433333
The Average number is= 811401.31

In [31]:
## H6: Create a simple calculator that performs basic arithmetic operations (addition, subtraction, multiplication, division) based on u
num1 = float(input("Enter the first number is= "))
num2 = float(input("Enter the second number is= "))
add= num1 + num2
sub= num1-num2
mul= num1*num2
div= num1/num2
print ('The addition is = ',add)
print ('The subtraction is = ',sub)
print ('The multiplication is = ',mul)
print ('The division is = {:.2f}'.format (div))

Enter the first number is= 345
Enter the second number is= 75
The addition is =  420.0
The subtraction is =  270.0
The multiplication is =  25875.0
The division is = 4.60

In [47]:
## H7: Write a program that asks the user to enter a single character and determines whether it is a vowel or a consonant.
vowel= 'aeiouAEIOU'
alp= input ('The alphabet is: ')
if alp in vowel:
  print('Vowel')
else:
  print('Consonant')

The alphabet is: b
Consonant

In [34]:
## H8: Create a program that converts temperatures between Fahrenheit and Celsius based on user input.
a= float(input('Enter the celcius temperature is:'))
b= 9*a+160
F= b/5
print('The fahrenheit temperature is:',F)

Enter the celcius temperature is:36.9
The fahrenheit temperature is: 98.41999999999999

In [49]:
## H9: Write a program that asks the user to enter three numbers and determines which one is the largest.

a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
c = float(input("Enter third number: "))

if a >= b and a >= c:
    print("Largest number is:", a)
elif b >= a and b >= c:
    print("Largest number is:", b)
else:
    print("Largest number is:", c)

Enter first number: 567
Enter second number: 378
Enter third number: 96
Largest number is: 567.0