<a href="https://colab.research.google.com/github/sanwar0909/https-colab.research.google.com-drive-1irOqWoUKkXKd9BWP-45sncL-OfHNf9wt/blob/main/Practice%20from%20lecture3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for welcome in range(2,10):
  print('welcome')

welcome
welcome
welcome
welcome
welcome
welcome
welcome
welcome

In [ ]:
ML= 'skill morph'
for a in  ML:
  print(a)

s
k
i
l
l

m
o
r
p
h

In [ ]:
ML= 'skill morph'
for a in range (len(ML)):
  print(a)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
ML= 'skill morph'
for a in range (4,len(ML)):
  print(a)

4
5
6
7
8
9
10

In [ ]:
# function
def sum (a,b):
  print(a+b)
sum(4,6)
sum(24,67)

10
91

In [ ]:
# return function
def x (a,b):
  return(a-b)
result= x(4,6)
result *=5
print(result)
result= x(24,7)
result *=5
print(result)

-10
85

In [43]:

for x in range(10):
  print (x,' sony')

0  sony
1  sony
2  sony
3  sony
4  sony
5  sony
6  sony
7  sony
8  sony
9  sony

In [47]:
# return function
def x (a):
  return(a**2)
result= x(4)
result +=5
print(result)
result= x(5)
print (result)

21
25

In [ ]:
#array function
def add_all(*numbers):
    return sum(numbers)

print(add_all(1, 2, 3))   # 6
print(add_all(1, 2, 3, 4)) # 10

In [69]:
def greet(name, roll):
    print(name, roll)

greet('Sony', 190536)

Sony 190536

In [71]:
n = int(input("Number: "))

for i in range(2, n):
    if n % i == 0:
        print("Not Prime")
        break
else:
    print("Prime")

Number: 12
Not Prime

In [77]:
def sum_1to_n(*numbers):
  return sum (numbers)
print (sum_1to_n(11,12,13,14,15,17))

TypeError: sum() missing 1 required positional argument: 'b'

In [85]:
def sum_of_some_numbers(N):
    total = 0
    for i in range(1, N + 1):
        total += i
    return total

N = int(input("The input number: "))
print(f"The input number from 1 to ({N}) = {sum_of_some_numbers(N)}")
 #The input number from 1 to ({N}) ja icche bosate parbo but porer tuku {def er porer commant likha lagbe}

The input number: 50
The input number from 1 to (50) = 1275

In [94]:
#Write a function that returns the square of a number.
def square_of_a_number (n):
    return n**2

n = int(input("The input number: "))
print(f"The input number ({n}) = {square_of_a_number (n)}")

The input number: 10
The input number (10) = 100

In [95]:
#Write a function that checks whether a number is even two numbers
def Odd_or_even(n):
    if n % 2 == 0:
        return "Even"
    else:
        return "Odd"

print(Odd_or_even(10))
print(Odd_or_even(7))

Even
Odd

In [98]:
#Write a function that returns the larger number.
def x(a, b, c):
    if a >= b and a >= c:
        return "a is the largest number"
    elif b >= a and b >= c:
        return "b is the largest number"
    else:
        return "c is the largest number"

print(x(1, 2, 3))
print(x(5, 235, 34))

c is the largest number
b is the largest number