<a href="https://colab.research.google.com/github/sanwar0909/https-colab.research.google.com-drive-1irOqWoUKkXKd9BWP-45sncL-OfHNf9wt/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Python Basic**

In [ ]:
## .ipynb => Interactive Python Notebook

print("Welcome to Skill Morph!")

Welcome to Skill Morph!

In [ ]:
## Discuss about print() function

print("SKill", "\n", "\tMorph", "End")

SKill
 	Morph End

In [ ]:
## Printing different types of values

print("Skill, Morph")  # Displaying a string

name = "Mr. Person"
age = 21
print("Name:", name, "Age:", age)

num1 = 5
num2 = 7
print("Num1 =", num1, "Num2 =", num2, "Sum =", num1 + num2)  # Printing variables and literals

Skill, Morph
Name: Mr. Person Age: 21
Num1 = 5 Num2 = 7 Sum = 12

In [ ]:
## Printing with formatting

num1 = 145.89
num2 = 345.568

sum = num1 + num2
print("Value: {:.1f}%".format(sum))
print("{:.3f}".format(sum))

Value: 491.5%
491.458

In [ ]:
## H1: Write a program to perform the subtraction, multipllication and division

In [ ]:
dept = "Machine Learning" ##Assign value to variable
org = "Skill Morph"

print(dept)

Machine Learning

In [ ]:
dept, org, batch = "Machine Learning", "Skill Morph", 1 ##Decalare multiple variables in a line

print(dept, "\t", org, "\t", batch)

Machine Learning 	 Skill Morph 	 1

In [ ]:
## H2: Write a program  declare variables for id, name, batch, and hometown, and assign values, and finally print.

In [ ]:
# Changing value of a variable

dept_name = 'Machine Learning'
print("Before: ", dept_name)

dept_name = 'Data Science'  # assigning a new value to dept_name

print("After: ", dept_name)

Before:  Machine Learning
After:  Data Science

In [ ]:
## H3: Write a program to change values of an integer variable

In [ ]:
# Variables and literals

num = 123.56

b = False

print(b)

False

In [ ]:
# Implicit Type Conversion

num1 = 12345 #integer
num2 = 5000.6789 #float

sum = num1 + num2

print(sum)

print(type(num1), type(num2), type(sum))

17345.6789
<class 'int'> <class 'float'> <class 'float'>

In [ ]:
# Explicit Type Conversion

num1 = 12345 #integer
num2 = 5000.6789 #float

sum = num1 + int(num2)

print(num2)

print(sum)

print(type(num1), type(num2), type(sum))

5000.6789
17345
<class 'int'> <class 'float'> <class 'int'>

In [ ]:
## H4: Write a program to take two string numbers and convert them to integers using explicit type conversion.

In [ ]:
# Input from users

age = input() #Default: String

print(age, type(age))

age = float(input())
print(age)

12
12 <class 'str'>
12
12.0

In [ ]:
## Arithmatic Operator

a = int(input('Enter the first number: '))
b = int(input('Enter the first number: '))

print('Sum: ', a + b)  # Addition
print('Subtraction: ', a - b)  # Subtraction
print('Multiplication: ', a * b)  # Multiplication
print('Division: ', a / b)  # Division
print('Floor Division: ', a // b)  # Floor division
print('Modulo: ', a % b)  # Modulo
print('Power: ', a ** b)  # a to the power b

Enter the first number: 12
Enter the first number: 2
Sum:  14
Subtraction:  10
Multiplication:  24
Division:  6.0
Floor Division:  6
Modulo:  0
Power:  144

In [ ]:
## H5: Write a program to calculate and print the average of the three numbers. Round the result to two decimal places.

In [ ]:
## Comparison Operator

a = 10
b = 20

print(a == b)

False

In [ ]:
## Logical Operators

a = True
b = True
c = False

print (a and b and c)

print(a and not b)

False
False

In [ ]:
## Bitwise Operators

a = 5 # 101
b = 6 # 110

print(a & b) # 100

4

## **Python Flow Control**

In [ ]:
## Even or Odd

num = 10

if num % 2 == 0: #Inportant to understand the condition
  print("Even")

Even

In [ ]:
## H6: Create a simple calculator that performs basic arithmetic operations (addition, subtraction, multiplication, division) based on user input.

In [ ]:
## H7: Write a program that asks the user to enter a single character and determines whether it is a vowel or a consonant.

In [ ]:
## H8: Create a program that converts temperatures between Fahrenheit and Celsius based on user input.

In [ ]:
## H9: Write a program that asks the user to enter three numbers and determines which one is the largest.

## **Loops**

In [ ]:
## For Loop

for x in range(10): #Starting, Ending, Inc/Dec
  print("Skill Morph")

Skill Morph
Skill Morph
Skill Morph
Skill Morph
Skill Morph
Skill Morph
Skill Morph
Skill Morph
Skill Morph
Skill Morph

In [ ]:
## while loop

n = 10

while n!=0:
  print(n)
  n = n - 1

10
9
8
7
6
5
4
3
2
1

In [ ]:
# H10: Write a program that prompts the user to input a number N and prints all even numbers between 1 and N using a for loop.

In [ ]:
# H11: Write a program that prompts the user to input a number N and calculates the sum of all numbers from 1 to N that are divisible by 3 or 5.

In [ ]:
# H12: Write a program that prompts the user to input a number n and prints the multiplication table of n (1 to 10) using a for loop.

# **Thank You!**